/target
# Node
node_modules/
npm-debug.log*
npm_output.log
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build outputs
/dist/
/build/

# Env files
.env
.env.*

# Editor/OS
.DS_Store
.idea/
.vscode/
*.swp
